<nav class="navbar fixed-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">TRIAGEM MEDICA</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-start show" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
      id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

      <div class="offcanvas-header">
        <i class="bi bi-clipboard2-pulse-fill"></i>
        
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">SIDEBAR</h5>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Triagem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Registros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Sair</a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</nav>


