<nav class="navbar fixed-top">
  <div class="container-fluid divnav">
    <div id="logo" class="d-flex justify-content-center align-items-center">
      <i class="bi bi-clipboard2-pulse-fill"></i>
      <a class="navbar-brand" href="#">TRIAGEM MEDICA</a>
    </div>

    <button class="navbar-toggler" (click)="onClick()" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>


