.navside-body {
  padding-top: 20px;
  width: 300px;
  max-width: 300px;
  height: calc(100vh - 119px);
  margin-top: 62px;
  margin-bottom: 57px;
  color: #fff;
  background: var(--bg-dark);
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.hideside {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}


