<div [ngClass]="{'show':sideOn}" class="navside offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false"
      id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

      <div class="navside-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 ps-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">Triagem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">Registros</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link" aria-current="page">Sair</a>
          </li>
        </ul>
      </div>

    </div>
